
@{
    ViewBag.Title = "Terms";
}

<h2>@ViewBag.Title.</h2>

<section class="infos">
    <div class="infos__row">
        <div class="col-md-6 info-box">
            <h5 class="info-box__header">Text 1</h5>
            <p class="info-box__content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            </p>
        </div>

        <div class="col-md-5 pull-right info-box">
            <h5 class="info-box__header info-box__header--advertise">Buy now!!</h5>
            <p class="info-box__content">
                Lorem Ipsum is simply dummy text of the and scrambled it to make a type specimen book. It has
            </p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="infos__row">
        <div class="col-md-3 info-box">
            <h5 class="info-box__header">Text 1</h5>
            <p class="info-box__content">
                Lorem Ipsum is simply dummy text ype and scrambook. It has
            </p>
        </div>

        <div class="col-md-6 pull-right info-box">
            <h5 class="info-box__header info-box__header--advertise">Buy now!!</h5>
            <p class="info-box__content">
                Lorem Ipsum is simply dummy text of the and scrambled it to make a type specimen book. It has
            </p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="infos__row">
        <div class="col-md-6 info-box">
            <h5 class="info-box__header">Text 1</h5>
            <p class="info-box__content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            </p>
        </div>

        <div class="col-md-5 pull-right info-box">
            <h5 class="info-box__header info-box__header--advertise">Buy now!!</h5>
            <p class="info-box__content">
                Lorem Ipsum is simply dummy text of the and scrambled it to make a type specimen book. It has
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

